body,html{
  font-family: Arial;
  background: #EEE;
  color: #333;
}

body{
  padding-top: 120px;
}

#header{
  display: block;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0px;
}

#header-img{
  display: block;
  margin: auto;
  width: 40px;
}

#nav-bar{
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

#nav-bar a.nav-link{
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background: #333;
  color: #FFF;
}

section{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background: #FFF;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #CCC;
}

section#membership{
  display: flex;
  flex-direction: row;
}

section#membership .card{
  flex: 1 1 0px;
  border: 1px solid #333;
  margin: 20px;
  padding: 30px;
  text-align: center;
}

section#membership .card a{
  display: block;
  width: 100%;
  background: #FF6F4F;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  box-sizing: border-box;
}

section#membership .card h2{
  display: block;
  width: 100%;
  color: #FF6F4F;
  text-decoration: none;
  padding: 15px;
  font-size: 40px;
  box-sizing: border-box;
}

video{
  margin: 0px auto;
  max-width: 100%;
}

#form{
  text-align: center;
}

#form input{
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

#form button{
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: none !important;
  color: #FF6F4F;
  cursor: pointer;
}

footer{
  text-align: right;
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

section header{
  font-weight: bold;
  font-size: 28px;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  body{
  padding-top: 300px;
}
  
  #nav-bar a.nav-link{
    display: block;
    width: 100%;
    text-align: left;
    margin: 3px 0px;
    padding: 10px 15px;
    background: #333;
    color: #FFF;
  }
  
  section#membership{
    display: flex;
    flex-direction: column;
  }
}
